body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
}

.main {
  width: 1445px;
  background: rgb(255, 255, 255);
}

.header {
  width: 950px;
  height: 80px;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.navigation li {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  width: 20%;
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  color: #838383;
}

.navigation a:hover {
  color: black;
}

.vector {
  position: absolute;
  width: 800px;
  top: 88px;
  left: -100px;
  right: 0;
  margin: auto;
  border-bottom: 2px solid #0f0f0f8f;
}

.content {
  max-width: 1000px;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  margin: 0 auto;
  transform: translateY(-50%);
}
.name {
  width: 170px;
  height: 150px;
  position: absolute;
  margin-left: 50px;
  top: 150px;
  left: 0%;
  font-size: 20px;
  line-height: 59px;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.second__name {
  position: absolute;
  left: 55%;
  top: 190px;
  font-size: 24px;
  font-weight: 600;
}

.logo-container {
  width: 900px;
  height: 400px;
  position: absolute;
  top: 350px;
  left: -80px;
  right: 0;
  margin: auto;
  background-image: url("./img/Моё фото.png");
  background-size: cover;
  box-shadow: -10px -50px 50px 0px rgba(0, 0, 0, 0.8) inset;
}

.container {
  width: 100vw;
  height: 506px;
  margin-top: 50px;
  position: absolute;
  left: 0;
  top: 800px;
  background: #f6f6f6;
}

.about {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.about > p {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.skill {
  width: 100vw;
  height: 506px;
  margin-top: 50px;
  position: absolute;
  left: 0;
  top: 81em;
  color: black;
}

.skill__text {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 18px;
}

.skill__icons {
  width: 1400px;
  height: 400px;
  position: absolute;
  top: 10em;
  left: 0;
  right: 0;
  margin: auto;
  color: gray;
}

.skill__icons > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.html {
  position: absolute;
  width: 166.46px;
  height: 206.27px;
  left: 100px;
  top: 80px;
}

.css {
  position: absolute;
  width: 166.46px;
  height: 206.27px;
  left: 300px;
  top: 80px;
}

.js {
  position: absolute;
  width: 166.46px;
  height: 206.27px;
  left: 500px;
  top: 80px;
}

.bootstrap {
  position: absolute;
  width: 166.46px;
  height: 206.27px;
  left: 700px;
  top: 80px;
}

.wordpress {
  position: absolute;
  width: 166.46px;
  height: 206.27px;
  left: 900px;
  top: 80px;
}

.figma {
  position: absolute;
  width: 166.46px;
  height: 206.27px;
  left: 1100px;
  top: 80px;
}

.container__two {
  width: 100vw;
  height: 506px;
  margin-top: 70em;
  position: absolute;
  left: 0;
  top: 800px;
  background: #f6f6f6;
}

.experience {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 18px;
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;
}
.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #ededed;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
.table tr th:first-child,
.table tr td:first-child {
  border-left: 1px solid #ddd;
}
.table tr th:last-child,
.table tr td:last-child {
  border-right: 1px solid #ddd;
}
.table thead tr th:first-child {
  border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
  border-radius: 0 20px 0 0;
}
.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.table tbody tr:nth-child(even) {
  background: #d1d1d1a4;
}
.table tbody tr:last-child td {
  border-bottom: 1px solid #ddd;
}
.table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}

.portfolio {
  width: 100vw;
  height: 150em;
  margin-top: 50px;
  position: absolute;
  left: 0;
  top: 148em;
  color: black;
  background-color: #fff;
}

.portfolio__text {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 18px;
}

.examples {
  width: 70em;
  height: 130em;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgba(129, 129, 127, 0.507);
  border: 1px rgba(129, 129, 127, 0.507) solid;
  border-radius: 10px;
}
.examples img {
  margin-top: 30px;
  height: 1920px;
  width: 1080px;
}

.contacts {
  width: 100vw;
  height: 830px;
  margin-top: 50px;
  position: absolute;
  left: 0;
  top: 298em;
  color: black;
  background: #f6f6f6;
}

.text {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 18px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 190px;
}

input[type="text"],
select,
textarea {
  width: 500px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #555555;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 1s;
  background-color: #000000;
}

.social {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 40em;
  left: 125px;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #f53c3c;
  color: white;
}

.copyright {
  width: 100vw;
  position: absolute;
  top: 45em;
  text-align: center;
}

#top {
  width: 74px;
  height: 74px;
  border: 2px solid #e2e2e2;
  background: #080808;
  text-align: center;
  position: fixed;
  padding: 5px 5px;
  bottom: 88px;
  right: 60px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

#top:hover {
  background-color: rgb(49, 49, 49);
  transition: 0.5s linear;
}
